body {
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(73, 127, 143);
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  color: azure;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

input {
  padding: 12px;
  width: 40%;
  font-family: 'Montserrat', sans-serif;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  width: 40%;
  background-color: #f0f0f0;
}

.btn {
  padding: 10px;
  border: none;
  width: 20%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.add {
  background: #6EBF8B;
  margin-top: 5px;
  margin-top: 20px;
}

.delete {
  background: #D82148;
  margin-bottom: 5px;
}